
.chat-messages {
    display: flex;
    flex-direction: column;
    max-height: 800px;
    overflow-y: scroll
}

.chat-message-left {
    display: flex;
    flex-shrink: 0;
    margin-right: auto;
}

.py-3 {
    padding-top: 1rem!important;
    padding-bottom: 1rem!important;
}
.px-4 {
    padding-right: 1.5rem!important;
    padding-left: 1.5rem!important;
}
.flex-grow-0 {
    flex-grow: 0!important;
}
.border-top {
    border-top: 1px solid #dee2e6!important;
}

/* === Chat bubble base === */
.chat-bubble {
  max-width: 70%;
  border-radius: 18px;
  font-size: 14px;
  line-height: 1.4;
}

/* === Other people (purple) === */
.chat-bubble.received {
  background-color: #37a3e7;
  color: #ffffff;
}

/* === Your messages (white) === */
.chat-bubble.sent {
  background-color: #475ef4;
  color: #ffffff;
  box-shadow: 0 1px 3px rgba(0,0,0,0.15);
  margin-left: auto;
}